/* general */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* header  */

header {
    background-color: #255ee9;
}

.header-container {
    width:80%;
    margin: 0;
    padding: 10px 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;/*  non capisco eprchè non mi allinea il logo al centro  */
}

ul {
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-between;
}

input[type=button] {
    border-radius: 40px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
}

/* jumbotron */

.jumbotron {
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
}

.jumbotron-container {
    width:50%;
    height: 100%;
    margin: auto;
    vertical-align: center;
    padding-top: 50px;
}

h1 {
    margin-top: 0;
    color: white;
    font-size: 40px;
}

p {
    padding-top: 20px;
    color: white;
    line-height: 30px;
    font-size: 18px;
}

input[type=button].button-jumbotron {
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 28px;
    
}

input[type=button].button-jumbotron.black {
    background-color: #23272a;
    color: white;
}

input[type=button].button-jumbotron.section-container.white::before {
    
}

/* main  */

main {
    margin-top: 50px;
}


.section-container.white {
    background-color: white;
}

.section-container.grey {
    background-color: grey;
}

.item.bg-grey.column {
    display: block;
    text-align: center;
}


section {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    display: flex;
}

.sezione.immagine {
    width: 60%;
}

.sezione.testo {
    width: 40%;  
    border: 2px solid black;
}



.item.bg-grey.column .sezione.immagine {
    width:100%;
    height:25%;
}

.item.bg-grey.column .sezione.testo {
     width:100%;
    height:25%;
}

section:nth-child(2) .sezione.immagine {
    background-color: rgb(131, 122, 122);
    order: +1;
}

section:nth-child(4) {
    text-align: center;
}

section:nth-child(4) .sezione.immagine {
    width: 100%;
    height:25%%
}

section:nth-child(4) .sezione.testo {
    width: 100%;
    height: 25%;
}

/* footer */
footer{
    margin: auto;
    background-color: #23272a;
}

.footer-container {
    width:80%;
    margin: auto;
}

.footer.grande {
    display: flex;
    justify-content: space-between;
}

.colonna {
    height:100px;
    border: 1px solid red;
    background-color: aqua;
}

.colonna.grande {
    width: 40%;
}

.colonna.piccola {
    width: 20%;
}


.footer.piccolo {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #7289da;
}